html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lekton' ;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 56%, rgba(148,187,233,1) 100%);
  overflow-x: hidden;
}

#top {
  text-align: center;
  margin: 0 auto;
  font-family: 'Lekton' ;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: -3%;
  font-size: 1.5em;
  text-align: center;
}

#bucketListForm{
  visibility: hidden;
  display: block;
  position: absolute;
  margin-left: 200%;
}

#addItemButton{
  font-family: 'Lekton';
}

#itemField{
  font-family: 'Lekton';
}